.buttonGreen {
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: rgb(44, 221, 97);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    &:hover {
        background-color: darken($color: rgb(44, 221, 97), $amount: 10%);
    }
    img {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s ease-in-out;
    }
    &:hover {
        img {
            transform: translate(6px, -50%);
        }
    }
}
