.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    .visibleCart {
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.2);
        z-index: 2;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
        .drawer {
            width: 420px;
            height: 100vh;
            padding: 30px;
            display: flex;
            flex-direction: column;
            .items {
                flex: 1;
                overflow: auto;
                margin-bottom: 40px;
            }
            .totalCost {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                div {
                    flex: 1;
                    margin: 0 8px;
                    border-bottom: 1px dashed rgb(194, 194, 194);
                }
            }
        }
        .buttonGray {
            opacity: 0.6;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
        .cartEmpty {
            width: 420px;
            height: 100vh;
            padding: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
                .cartEmptyImage {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.overlayOpened {
    visibility: visible;
    opacity: 1;
    .visibleCart {
        transform: translateX(0);
    }
}
