header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid rgb(222, 222, 222);
    img {
        margin-right: 15px;
        cursor: pointer;
    }
    h1, p {
        margin: 0;
    }
}
